@import url("interact.css");

body
{
	background-image: url("../images/background.png");
	background-size: 100%;
	background-attachment: fixed;
	margin: 50px 0;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 16px;
	color: rgb(23,58,89);
	margin-top:10px;
}
a
{
	text-decoration: none;
	color: rgb(242,242,242);
}
a:hover
{ 
	//background-color: green;
	text-decoration:underline;
}
ul
{
	padding-left:10px;
	margin: 0px;
	//list-style-type: none;
}
.szkola
{
	float:right;
	margin: 25px 30px 0px 30px;
	display: table;
	//width:350px;
}
.border_szary
{
	border-style: solid;
	border-width: 2px;
	border-color: rgb(175,171,171);
}
.logo
{
	float: left;
	height:50px;
}
.gradient
{
	background-color: rgb(230,230,230);
	/*linear-gradient(to right, rgb(160,160,25) , rgb(255, 255, 0), rgb(160,160,25));*/
}
.gradient_dark
{
	background-color: rgb(36,90,140);
}
.gradient a /*widoczne linki*/
{
	color: blue
}
.gray_border
{
	border-style: solid;
	border-width:5px;
	border-color: rgb(230,230,230);
	/*linear-gradient(to right, rgb(160,160,25) , rgb(255, 255, 0), rgb(160,160,25));*/
}
.czcionka_szara
{
	color: rgb(242,242,242);
}
.czcionka_nieb
{
	color: rgb(23,58,89);
}
.naglowek
{
	font-size: 20px;
}
.naglowek_pom
{
    @import url("base.css");
    font-size: 18px;
}
.o_nas
{
	padding: 0 25px;
	width:200px;
	height:100%;
	float:left;
}
.absolwent
{
	width:315px;
	height:180px;
	float:left;	
}
.na_skroty_big
{
	float:left;
	border-style: solid;
	border-color: rgb(160,160,25);
	border-width: 0px 5px 5px 5px;
	margin:10px 1% 1% 1%;
	width:36%;
	height:110px;
}
.na_skroty_small
{
	float:left;
	border-style: solid;
	border-color: rgb(160,160,25);
	border-width: 0px 5px 5px 5px;
	width:16%;
	height:50px;
}
.bright_background
{
	background:rgb(242,242,242);
}

.bright_background a /*Aby uczynić linki widocznymi!*/
{
    color: black
}
.justify
{
    text-align:justify;
}
.fake_a
{
	cursor:pointer;
}
.fake_a:hover
{
	text-decoration:underline;
}
#body-container
{
	width: 1000px;
	margin: 0 auto;
}
#masthead
{
	position: fixed;
	z-index: 100;
	width: inherit;
}
#ZSO
{
	float:right;
	text-align: center;
	padding: 0 75px;
	height:25px;
}
#grad_BOK
{
	float:right;
	height:125px;
	width:20px;
	background-color: rgb(230,230,230);
	/*linear-gradient(to bottom, rgb(160,160,25) , rgb(255,255,0), rgb(160,160,25) );*/
}
#students_photo
{
	position:relative;
        height:400px;
	//padding: 5px 5px 5px 5px;
	background:rgb(230,230,230);
}
#info
{
	float:left;
}
#logowanie
{
	float:right;
}
#linki
{
	clear: both;
	float: right;
	width:960px;
	padding:0 20px;
    overflow: visible;
    height: 22px;
    text-align: justify;
}
#linki > a
{
	margin: 0 20px;
	color: rgb(23,58,89);
}
#post_text
{
	flex:2 1 0px;
	margin-right: 10px;
	position: relative;
	background-color: white;
}
#tp_na_skroty
{
	position:relative;
	bottom:175px;
	clear:both;
}

#post_text > span > a:hover
{
    color: blue;
}

#post_text > span > a
{
    color: rgb(23,58,89);
    text-decoration: underline;
}
